@theme {
    --font-poppins-bold: "Poppins-Bold";
    --font-poppins-regular: "Poppins-Regular";
    --font-poppins-semibold: "Poppins-SemiBold";

    --tracking-heading-two-percent: -0.02em;
    --tracking-heading-one-half-percent: -0.015rem;
    --tracking-overline-regular: 0.04rem;
    --tracking-link: 0.02rem;

    --text-heading-one: 4rem;
    --text-heading-three: 2rem;
    --text-heading-five: 1.25rem;
    --text-heading-six: 1rem;
    --text-body-small: 0.875rem;
    --text-body-extra-small: 0.75rem;
}